*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--body-color1: rgb(157, 200, 173);
	--container-color1: rgb(67, 80, 117);
	--container-color2: rgb(235, 195, 201);
	--burger-color1: rgb(79, 163, 66);
	--burger-color-after1: rgb(108, 209, 92);
	--rain-color1: rgb(134, 185, 227);
	--sun-color1: rgb(246, 232, 174, 0.9);
	--cloud-left1: rgb(223, 131, 142, 0.8);
	--cloud-right1: rgb(135, 190, 209, 0.8);
}

html,
body {
	min-height: 100vh;
	background-color: var(--body-color1);
}

body {
	margin-top: 1rem;
	font-family: 'Raleway', sans-serif;
}

.container {
	background-color: var(--container-color1);
	border-radius: 1rem;
	width: 80%;
	min-height: 80vh;
	display: grid;
	grid-template-rows: 3fr 1fr;
	margin: 0 auto;
	color: white;
	overflow: hidden;
}

.main {
	padding: 1rem;
	position: relative;
}
nav {
	/* border: 1px solid white; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* burger Menu */
.burgerInput {
	display: none;
}
.burgerLabel {
	/* border: 1px solid black; */
	width: 5rem;
	height: 4rem;
	position: relative;
}
.bar1 {
	transition: all ease-in-out 0.4s;
	border-radius: 1rem;
	background-color: var(--burger-color1);
	position: absolute;
	width: 80%;
	height: 0.5rem;
	right: 10px;
	top: 40%;
}
.bar1::before {
	content: '';
	border-radius: 1rem;
	background-color: var(--burger-color1);
	position: absolute;
	width: 100%;
	height: 0.5rem;
	top: -25px;
	right: 20px;
	transition: all ease-in-out 0.4s;
}
.bar1::after {
	content: '';
	border-radius: 1rem;
	background-color: var(--burger-color1);
	position: absolute;
	width: 70%;
	height: 0.5rem;
	top: 25px;
	right: -10px;
	transition: all ease-in-out 0.4s;
}
/* hover animation */
.burgerLabel:hover .bar1 {
	transform: translateX(10px);
}
.burgerLabel:hover .bar1::before {
	transform: translateX(20px);
	width: 80%;
}
.burgerLabel:hover .bar1::after {
	transform: translateX(-40px);
}
/* checked animation */
.burgerInput:checked ~ .bar1 {
	background-color: var(--burger-color-after1);
}
.burgerInput:checked ~ .bar1::before {
	background-color: var(--burger-color-after1);
	transform: translate(15px, 25.3px);
	opacity: 0;
}
.burgerInput:checked ~ .bar1::after {
	background-color: var(--burger-color-after1);

	transform: translate(-15px, -25px);
	opacity: 0;
}

/* burger menu end */
.searchForm {
	/* border: 1px solid yellowgreen; */
	height: 4rem;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease 0.6s;
}

/* Search bar */
.searchBar {
	width: 80%;
	height: 2.5rem;
	outline: none;
	border: none;
	border-radius: 1rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: rgb(110, 123, 160);
	margin-right: 0.5rem;
	color: white;
	cursor: pointer;
}
.btnSearch {
	overflow: hidden;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
	transition: all ease 0.3s;
	padding: 0.1rem;
	cursor: pointer;
}
.btnSearch:hover {
	transform: scale(1.1);
	color: var(--burger-color1);
}
.weatherInfo {
	position: relative;
	font-size: 4rem;
	font-weight: bold;
	z-index: 10;
}
.town {
	position: relative;
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: 3px;
	z-index: 10;
}
.time {
	position: relative;
	font-size: 1rem;
	z-index: 10;
}
footer {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
@media only screen and (min-width: 600px) {
	.container {
		width: 500px;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 1.3rem;
	}
	h2 {
		font-size: 1.2rem;
	}
	.userInfo__date {
		font-size: 1rem;
	}
	.container {
		width: 100%;
		height: 100vh;
	}
	body {
		margin: 0.2rem 0.2rem;
	}
}

.displayNone {
	display: none;
}

.noOpacity {
	opacity: 0;
	pointer-events: none;
}

.weatherIcon {
	width: 300px;
	height: 300px;
	border: 1px solid white;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 30%;
	left: 25%;
	z-index: 8;
}

.sun {
	/* Ellipse 1 */

	/* position: absolute; */
	width: 220px;
	height: 220px;

	background: var(--sun-color1);
	border-radius: 50%;
	z-index: 5;
}
.cloudLeft {
	position: absolute;
	width: 250px;
	height: 100px;
	background: var(--cloud-left1);
	border-radius: 50px;
	bottom: 26%;
	left: -25%;
}
.cloudRight {
	position: absolute;
	width: 250px;
	height: 100px;
	background: var(--cloud-right1);
	border-radius: 50px;
	bottom: 5%;
	left: 15%;
}

.rain1 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain2 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain3 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain4 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain5 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain6 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain7 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain8 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain9 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain10 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain11 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain12 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain13 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain14 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}
.rain15 {
	position: absolute;
	width: 25px;
	height: 25px;
	background: var(--rain-color1);
	border-radius: 50%;
	bottom: 0%;
}

.cloudsRainAndThunder {
	/* Rectangle 1 */

	position: absolute;
	width: 250px;
	height: 100px;

	background: #de838f;
	border-radius: 50px;

	/* Rectangle 2 */

	position: absolute;
	width: 250px;
	height: 100px;

	background: #87bed1;
	border-radius: 50px;

	/* Ellipse 1 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 15 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 14 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 13 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 12 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 11 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 10 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 9 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 8 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 7 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 6 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 5 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 4 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 3 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Ellipse 2 */

	position: absolute;
	width: 25px;
	height: 25px;

	background: #86b9e3;

	/* Polygon 1 */

	position: absolute;
	width: 70px;
	height: 40px;

	background: #dcd16a;
	transform: rotate(-44deg);

	/* Polygon 2 */

	position: absolute;
	width: 70px;
	height: 40px;

	background: #dcd16a;
	transform: rotate(144deg);
}

.cloudsAndSnow {
	/* Rectangle 1 */

	position: absolute;
	width: 250px;
	height: 100px;

	background: #de838f;
	border-radius: 50px;

	/* Rectangle 2 */

	position: absolute;
	width: 250px;
	height: 100px;

	background: #87bed1;
	border-radius: 50px;

	/* Polygon 29 */

	position: absolute;
	width: 22.98px;
	height: 45.73px;

	background: #97bbf1;
	transform: matrix(0.13, 0.99, -0.99, 0.12, 0, 0);

	/* Polygon 30 */

	position: absolute;
	width: 22.99px;
	height: 45.7px;

	background: #97bbf1;
	transform: matrix(0.79, 0.61, -0.61, 0.79, 0, 0);

	/* Polygon 31 */

	position: absolute;
	width: 22.92px;
	height: 45.84px;

	background: #97bbf1;
	transform: matrix(-0.13, 0.99, -0.99, -0.14, 0, 0);

	/* Polygon 32 */

	position: absolute;
	width: 22.89px;
	height: 45.91px;

	background: #97bbf1;
	transform: matrix(-1, 0.03, -0.04, -1, 0, 0);

	/* Polygon 33 */

	position: absolute;
	width: 22.85px;
	height: 45.98px;

	background: #97bbf1;
	transform: matrix(-0.84, 0.54, -0.54, -0.84, 0, 0);

	/* Polygon 34 */

	position: absolute;
	width: 22.98px;
	height: 45.73px;

	background: #97bbf1;
	transform: matrix(0.13, 0.99, -0.99, 0.12, 0, 0);

	/* Polygon 35 */

	position: absolute;
	width: 22.99px;
	height: 45.7px;

	background: #97bbf1;
	transform: matrix(0.79, 0.61, -0.61, 0.79, 0, 0);

	/* Polygon 36 */

	position: absolute;
	width: 22.92px;
	height: 45.84px;

	background: #97bbf1;
	transform: matrix(-0.13, 0.99, -0.99, -0.14, 0, 0);

	/* Polygon 37 */

	position: absolute;
	width: 22.89px;
	height: 45.91px;

	background: #97bbf1;
	transform: matrix(-1, 0.03, -0.04, -1, 0, 0);

	/* Polygon 38 */

	position: absolute;
	width: 22.85px;
	height: 45.98px;

	background: #97bbf1;
	transform: matrix(-0.84, 0.54, -0.54, -0.84, 0, 0);

	/* Polygon 39 */

	position: absolute;
	width: 22.98px;
	height: 45.73px;

	background: #97bbf1;
	transform: matrix(0.13, 0.99, -0.99, 0.12, 0, 0);

	/* Polygon 40 */

	position: absolute;
	width: 22.99px;
	height: 45.7px;

	background: #97bbf1;
	transform: matrix(0.79, 0.61, -0.61, 0.79, 0, 0);

	/* Polygon 41 */

	position: absolute;
	width: 22.92px;
	height: 45.84px;

	background: #97bbf1;
	transform: matrix(-0.13, 0.99, -0.99, -0.14, 0, 0);

	/* Polygon 42 */

	position: absolute;
	width: 22.89px;
	height: 45.91px;

	background: #97bbf1;
	transform: matrix(-1, 0.03, -0.04, -1, 0, 0);

	/* Polygon 43 */

	position: absolute;
	width: 22.85px;
	height: 45.98px;

	background: #97bbf1;
	transform: matrix(-0.84, 0.54, -0.54, -0.84, 0, 0);
}
